<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${order.getNumber()}"></title>
    <th:block th:include="fragments/header :: scripts-no-const"></th:block>
    <th:block th:include="fragments/header :: pdfmake"></th:block>

    <script th:inline="javascript">
        /*<![CDATA[*/
            let currentOrderId = /*[[${order.id}]]*/;
        /*]]>*/
    </script>
    <script src="/info/order/order.js"></script>
</head>
<body class="grey">
<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 container white spaced-container">
            <h4 th:text="'Заявка: '+${order.getNumber()}"></h4>
            <br>
            <div class="row">
                <div class="col-6">
                    Статус: <span th:text="${order.status.getStatusName()}"></span><br>
                    Дней для оплаты: <span th:text="${order.getPaymentDate()}"></span><br>
                    Дней для возврата документов: <span th:text="${order.getDocumentReturnDate()}"></span><br>
                    Груз:
                    <ul>
                        <th:block th:each="cargoUnit : ${order.getCargo()}">
                            <li th:text="${cargoUnit}"></li>
                        </th:block>
                    </ul>

                </div>
                <div class="col-6">
                    Маршрут: <span th:text="${order.getRoute().getName()}"></span><br>
                    Рейтинг: <span th:text="${order.getRating()}"></span><br>
                    Обязательность: <span th:text="${order.getOrderObligation().getObligationName()}"></span><br>

                </div>
                <div class="col-4">
                    <div th:if="${order.getOffers().size()>0}">
                    <h4>Предложения:</h4>
                        <ul>
                            <th:block th:each="offer : ${order.getOffers()}">
                                <li>
                                    <a th:href="@{../offers/}+${offer.id}" th:text="${offer.company.name}"></a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </div>
                <div class="col-4"></div>
                <div class="col-4"><button id="printButton" class="btn btn-secondary btn-block">Печать</button></div>
                <div class="col-12">
                    <table class="table table-striped table-borderless table-sm" id="orderHistoryTable">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Статус заявки</th>
                            <th>Компания</th>
                            <th>Пользователь</th>
                            <th>Действие</th>
                            <th>Стоимость от диспетчера</th>
                            <th>Стоимость от компании</th>
                            <th>Дата</th>
                        </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-2"></div>
    </div>

</div>

</body>
</html>