<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{login/css/style.css}"/>
    <th:block th:include="fragments/header :: styling"></th:block>
    <!--custom js-->
    <!--<script type="text/javascript" src="content/js/login.js"></script>-->

</head>
<body class="grey">
<div class="container">
    <div class="main">
        <p th:if="${loginError}" class="error">Неправильный логин или пароль</p>
        <form class="form form" method="post"  th:action="@{login}">
            <div class="input-group" hidden>
                <label for="username">Логин :</label>
                <input type="text" placeholder="Введите логин" th:value="${user.login}" name="username" autofocus="autofocus" id="username">
            </div>

            <h6>Введите код регистрации</h6>
            <span class="text-muted text-sm-center">Код был отправлен вам на телефон/email</span>
            <br>
            <br>
            <div class="input-group">
                <label for="passwordInput"></label>
                <input type="password" placeholder="Код" name="password" id="passwordInput">

            </div>
            <div class="form-check" style="margin-bottom: 10px;" hidden>
                <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me" checked>
                <label for="remember-me" class="form-check-label text-muted">Запомнить</label>
            </div>
            <br>
            <!--<div id="loginErrorContainer"></div>-->
            <!--<a th:href="@{register}" class="btn">Регистрация</a>-->
            <input type="submit" class="btn btn-primary btn-block" name="login"  value="Завершить регистрацию">
        </form>
    </div>
</div>
<!--<p><a href="/index" th:href="@{/index}">Back to home page</a></p>-->
</body>
</html>

