<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>DKhan</title>
    <meta charset="UTF-8"/>
    <th:block th:include="fragments/header :: scripts"></th:block>

    <script src="/localization/localizeEditor.js"></script>
    <script src="/main/js/dispatcher/users.js" sec:authorize='hasAnyAuthority("ROLE_ADMIN","ROLE_DISPATCHER")'></script>


    <script sec:authorize="hasAuthority('ROLE_TRANSPORT_COMPANY')" src="/main/js/company/transports.js"></script>
    <script sec:authorize="hasAuthority('ROLE_TRANSPORT_COMPANY')" src="/main/js/company/drivers.js"></script>
    <script sec:authorize="hasAuthority('ROLE_TRANSPORT_COMPANY')" src="/main/js/company/company-users.js"></script>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
    <script src="/profile/profile.js"></script>

</head>
<body class="grey">
<div th:insert="fragments/header :: header('admin')"></div>
<nav class="logist-tabs">
    <div>
        <ul class="ml-md-auto flex-row nav container nav-justified" role="tablist">


            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" aria-selected="false" href="#tab-info"><i
                        class="fa fa-user" aria-hidden="true"></i> Профиль</a>
            </li>
            <li class="nav-item" sec:authorize='hasAnyAuthority("ROLE_ADMIN","ROLE_DISPATCHER")'>
                <a class="nav-link" data-toggle="tab" aria-selected="false" href="#tab-users"><i class="fa fa-users"
                                                                                                 aria-hidden="true"></i>
                    Пользователи</a>
            </li>
            <li class="nav-item" sec:authorize='hasAnyAuthority("ROLE_TRANSPORT_COMPANY")'>
                <a class="nav-link" data-toggle="tab" aria-selected="false" href="#tab-transports"><i
                        class="fa fa-truck" aria-hidden="true"></i> Транспорт</a>
            </li>
            <li class="nav-item" sec:authorize='hasAnyAuthority("ROLE_TRANSPORT_COMPANY")'>
                <a class="nav-link" data-toggle="tab" aria-selected="false" href="#tab-drivers"><i class="fa fa-users"
                                                                                                   aria-hidden="true"></i>
                    Водители</a>
            </li>
            <li class="nav-item" sec:authorize='hasAnyAuthority("ROLE_TRANSPORT_COMPANY")'>
                <a class="nav-link" data-toggle="tab" aria-selected="false" href="#tab-company-users"><i
                        class="fa fa-users"
                        aria-hidden="true"></i>
                    Пользователи</a>
            </li>
            <li class="nav-item" sec:authorize='hasAuthority("ROLE_TRANSPORT_COMPANY")'>
                <a class="nav-link" data-toggle="tab" aria-selected="false" href="#tab-pending-opinions">
                    <span class="badge badge-warning" th:if="${pendingOpinions!=null && pendingOpinions>0}"
                          th:text="${pendingOpinions}"></span>
                    <i class="fa fa-compass" aria-hidden="true"></i>
                    Ревью маршрутов
                </a>
            </li>
            <li class="nav-item" sec:authorize='hasAuthority("ROLE_DISPATCHER")'>
                <a class="nav-link" data-toggle="tab" aria-selected="false" href="#tab-reviews">
                    <i class="fa fa-compass" aria-hidden="true"></i>
                    Ревью маршрутов
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="tab-content" id="tabContent">
    <div id="tab-users" class="tab-pane">
        <div class=" container-fluid spaced-container white">
            <h4>Пользователи</h4>
            <div>
                <table class="table table-hover table-striped " id="usersTable">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Имя</th>
                        <th>Логин</th>
                        <th>Пароль</th>
                        <th>E-Mail</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div id="tab-points" class="tab-pane">

    </div>
    <div id="tab-info" class="tab-pane in active">
        <div class="spaced-container white container-fluid">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <h4>Пользователь</h4>
                    <br>
                    <div>
                        <input th:value="${user.id}" id="userId" hidden>
                        <div class="form-group">
                            <label>Логин
                                <input readonly class="form-control" th:value="${user.login}"
                                       placeholder="E-mail">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>E-mail
                                <input type="text" class="form-control" id="userEmail" th:value="${user.email}"
                                       placeholder="E-mail">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Имя пользователя
                                <input type="text" class="form-control" id="username" th:value="${user.username}">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Изменить пароль
                                <input type="text" class="form-control" id="newPassword"
                                       placeholder="Новый пароль">
                            </label>
                        </div>
                        <button id="editUser" class="btn btn-primary">Обновить</button>
                    </div>

                </div>
                <div class="col-8">
                    <h4>Компания</h4>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <input th:value="${company.id}" id="companyId" hidden>
                            <div class="form-group">
                                <label>E-mail
                                    <input type="text" class="form-control" maxlength="64" id="companyEmail"
                                           th:value="${company.email}"
                                           placeholder="E-mail">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Полное название
                                    <input type="text" class="form-control" maxlength="64" id="companyName"
                                           th:value="${company.name}">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Краткое название
                                    <input type="text" class="form-control" maxlength="64" id="shortName"
                                           th:value="${company.shortName}">
                                </label>
                            </div>

                            <div class="form-group">
                                <label>Код ATI.su
                                    <input type="text" class="form-control" id="atiCode" maxlength="64"
                                           th:value="${company.atiCode}">
                                </label>
                            </div>
                            <div class="form-group">
                                <label style="width:100%">ИНН

                                    <input type="text" id="inn" maxlength="64" style="width:100%;"
                                           th:value="${company.inn}">
                                    <!--<div class="input-group-append">-->
                                    <!--<button type="button" class="btn btn-outline-secondary field-inline-button"-->
                                    <!--id="loadFromOgrn">Загрузить данные из ОГРН-->
                                    <!--</button>-->
                                    <!--</div>-->

                                </label>
                            </div>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                    cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>ОКВЕД
                                    <input type="text" class="form-control" id="ocved" maxlength="64"
                                           th:value="${company.ocved}">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>ОКПО
                                    <input type="text" class="form-control" id="ocpo" maxlength="64"
                                           th:value="${company.ocpo}">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>ОГРН
                                    <input type="text" class="form-control" id="ogrn" maxlength="64"
                                           th:value="${company.ogrn}">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>КПП
                                    <input type="text" class="form-control" id="kpp" maxlength="64"
                                           th:value="${company.kpp}">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>БИК
                                    <input type="text" class="form-control" id="bik" maxlength="64"
                                           th:value="${company.bik}">
                                </label>
                            </div>


                        </div>
                        <div class="col-4">

                            <div class="form-group">
                                <label>Корреспондентский счет
                                    <input type="text" class="form-control" id="corresAccount" maxlength="64"
                                           th:value="${company.corresAccount}">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Рассчетный счет
                                    <input type="text" class="form-control" id="curAccount" maxlength="64"
                                           th:value="${company.curAccount}">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Наименование банка
                                    <input type="text" class="form-control" id="bankName" maxlength="64"
                                           th:value="${company.bankName}">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>ФИО директора
                                    <input type="text" class="form-control" id="directorFullname" maxlength="64"
                                           th:value="${company.directorFullname}">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>ФИО глав. бухгалтера
                                    <input type="text" class="form-control" id="chiefAccFullname" maxlength="64"
                                           th:value="${company.chiefAccFullname}">
                                </label>
                            </div>
                            <button id="editCompany" class="btn btn-primary">Обновить</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <div>
                        <h4>Пункт</h4>
                        <br>
                        <div>
                            <input th:value="${point.id}" id="pointId" hidden>
                            <div class="form-group">
                                <label>Название пункта
                                    <input type="text" class="form-control" id="pointName" th:value="${point.name}"
                                           placeholder="Название">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Адрес
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="pointAddress"
                                               th:value="${point.address}">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary field-inline-button"
                                                    id="checkAddress">Проверить адрес
                                            </button>
                                        </div>
                                    </div>

                                </label>
                                <div id="addressCheckMap" style="height:330px; display: none;"></div>
                            </div>

                            <button id="editPoint" class="btn btn-primary">Обновить</button>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <h4>Контакт</h4>
                    <br>
                    <div>
                        <input th:value="${contact.id}" id="contactId" hidden>
                        <div class="form-group">
                            <label>Телефон
                                <input type="text" class="form-control" id="phone" th:value="${contact.phone}">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Имя
                                <input type="text" class="form-control" id="contactName" th:value="${contact.name}">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Должность
                                <input type="text" class="form-control" id="position" th:value="${contact.position}">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>E-mail
                                <input type="text" class="form-control" id="contactEmail" th:value="${contact.email}">
                            </label>
                        </div>
                        <button id="editContact" class="btn btn-primary">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-transports" class="tab-pane">

        <div class="container-fluid spaced-container white">
            <h4>Транспорт</h4>
            <div>
                <table class="table table-hover  table table-striped table-bordered" style="width: 100%"
                       id="transportDataTable">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Номер</th>
                        <th>Тип</th>
                        <th>Кузов</th>
                        <th>Погрузка</th>
                        <th>Тоннаж</th>
                        <th>Объем</th>
                        <th>Коники</th>
                        <th>Гидроборт</th>
                        <th>GPS</th>
                        <th>Комментарий</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="modal" id="transportDocumentUploadModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Загрузить документ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="transportDocumentUploadForm">

                            <input id="transportIdInput" name="id" hidden>
                            <div class="row">
                                <div class="col-4">Название файла<sup class="red">*</sup></div>
                                <div class="col-8"><input class="form-control" type="text" name="fileName"></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4">Файл<sup class="red">*</sup></div>
                                <div class="col-8"><input type="file" name="file"></div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="uploadTransportDocument" class="btn btn-primary">Загрузить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-drivers" class="tab-pane">

        <div class="container-fluid spaced-container white">
            <h4>Водители</h4>
            <div>
                <table class="table table-hover table table-striped table-bordered" id="driverDataTable">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>ФИО</th>
                        <th>Телефон</th>
                        <th>Паспорт</th>
                        <th>Водительское удостверение</th>
                        <th>Рейтинг</th>
                        <th>Мобильное приложение</th>
                        <th>Номер для приложения</th>
                        <th>Отслеживание по телефону</th>
                        <th>Номер для отслеживания</th>
                        <th>В штате</th>
                        <th>Оплата</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="modal" id="driverDocumentUploadModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Загрузить документ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="driverDocumentUploadForm">

                            <input id="driverIdInput" name="id" hidden>
                            <div class="row">
                                <div class="col-4">Название файла<sup class="red">*</sup></div>
                                <div class="col-8"><input class="form-control" type="text" name="fileName"></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4">Файл<sup class="red">*</sup></div>
                                <div class="col-8"><input type="file" name="file"></div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="uploadDriverDocument" class="btn btn-primary">Загрузить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-company-users" class="tab-pane">
        <div class="container-fluid spaced-container white">
            <h4>Пользователи</h4>
            <div>
                <table class="table table-hover table-striped" style="width: 80%" id="companyUsersTable">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Имя</th>
                        <th>Логин</th>
                        <th>Пароль</th>
                        <th>E-Mail</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div id="tab-pending-opinions" class="tab-pane">
        <div class="container-fluid spaced-container white">
            <h4>Ревью маршрутов</h4>
            <br>
            <br>
            <div class="row">
                <div class="col-6">
                    <h5>Ожидают ревью</h5>
                    <div class="list-group">
                        <th:block th:each="opinion : ${opinions}">
                            <a th:if="${opinion.getPrice()==null}" class="list-group-item list-group-item-action list-group-item-warning"
                               target="_blank"
                               th:text="${opinion.getReview().getRoute().getName()}"
                               th:href="${'/info/review/'+opinion.getReview().getId()}"></a>
                        </th:block>
                    </div>
                </div>
                <div class="col-6">
                    <h5>Прошедшие ревью</h5>
                    <div class="list-group">
                        <th:block th:each="opinion : ${opinions}">
                            <a th:if="${opinion.getPrice()!=null}" class="list-group-item list-group-item-action"
                               target="_blank"
                               th:text="${opinion.getReview().getRoute().getName()}"
                               th:href="${'/info/review/'+opinion.getReview().getId()}"></a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-reviews" class="tab-pane">
        <div class="container-fluid spaced-container white">
            <h4>Ревью маршрутов</h4>
            <br>
            <br>
            <div class="row">
                <div class="col-4">
                    <h5>Ожидают ответа</h5>
                    <div class="list-group">
                        <th:block th:each="review : ${reviews}">
                            <a th:if="${review.getStatus().name()=='CREATED'}" class="list-group-item list-group-item-action"
                               target="_blank"
                               th:text="${review.getRoute().getName()}"
                               th:href="${'/info/review/'+review.getId()}"></a>
                        </th:block>
                    </div>
                </div>
                <div class="col-4">
                    <h5>Есть ответ от перевозчика</h5>
                    <div class="list-group">
                        <th:block th:each="review : ${reviews}">
                            <a th:if="${review.getStatus().name()=='RESPONDED'}" class="list-group-item list-group-item-action"
                               target="_blank"
                               th:text="${review.getRoute().getName()}"
                               th:href="${'/info/review/'+review.getId()}"></a>
                        </th:block>
                    </div>
                </div>
                <div class="col-4">
                    <h5>Все перевозчики ответили</h5>
                    <div class="list-group">
                        <th:block th:each="review : ${reviews}">
                            <a th:if="${review.getStatus().name()=='COMPLETE'}" class="list-group-item list-group-item-action list-group-item-success"
                               target="_blank"
                               th:text="${review.getRoute().getName()}"
                               th:href="${'/info/review/'+review.getId()}"></a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/header :: footer"></div>
</body>
</html>