<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>O R D E R S</title>
    <th:block th:include="fragments/header :: scripts"></th:block>
    <script sec:authorize='hasAnyAuthority("ROLE_ADMIN","ROLE_DISPATCHER")' src="/orders/js/orders.js"></script>
</head>
<body class="grey">
<div th:insert="fragments/header :: header('orders')"></div>
<div class="container-fluid">
    <div class="spaced-container white container-fluid">
        <h4>Заявки</h4>
        <div>
            <table class="table table-sm table-striped " id="orderTable">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Номер</th>
                    <th>Статус</th>
                    <th>Маршрут</th>
                    <th>Пункты<br>доставки</th>
                    <th>ТК</th>
                    <th>Транспорт</th>
                    <th>Водитель</th>
                    <th>Требования</th>
                    <th>Груз</th>
                    <th>Дата<br>оплаты</th>
                    <th>Дата<br>возврата<br>документов</th>
                    <th>Рейтинг</th>
                    <th>Обязательность</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div th:insert="fragments/header :: footer"></div>
</body>
</html>