<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>DKhan</title>
    <meta charset="UTF-8"/>
    <link sec:authorize="hasAuthority('ROLE_TRANSPORT_COMPANY')" rel="stylesheet" href="/media/Cropper/cropper.css">
    <link sec:authorize="hasAuthority('ROLE_DISPATCHER')" rel='stylesheet' href="media/Pickmeup/pickmeup.css">
    <th:block th:include="fragments/header :: scripts"></th:block>

    <script src="/localization/localizeEditor.js"></script>
    <script src="/main/js/dispatcher/users.js" sec:authorize='hasAnyAuthority("ROLE_ADMIN","ROLE_DISPATCHER")'></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/media/DataTables/Buttons-1.5.1/js/buttons.html5.min.js"></script>

    <script sec:authorize="hasAuthority('ROLE_TRANSPORT_COMPANY')" src="/main/js/company/company-users.js"></script>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
    <script src="/main/js/listSearch.js" type="text/javascript"></script>
    <script src="/profile/profile.js"></script>
    <script sec:authorize="hasAuthority('ROLE_DISPATCHER')" src="media/Highcharts-7.0.1/highcharts.js"></script>
    <script sec:authorize="hasAuthority('ROLE_DISPATCHER')"
            src="media/Highcharts-7.0.1/modules/accessibility.js"></script>
    <script sec:authorize="hasAuthority('ROLE_DISPATCHER')" src="media/Highcharts-7.0.1/modules/data.js"></script>
    <script sec:authorize="hasAuthority('ROLE_DISPATCHER')" src="media/Highcharts-7.0.1/modules/drilldown.js"></script>
    <script sec:authorize="hasAuthority('ROLE_DISPATCHER')" src="media/Pickmeup/pickmeup.js"></script>
    <script sec:authorize="hasAuthority('ROLE_DISPATCHER')"
            src="media/Pickmeup/jquery.pickmeup.twitter-bootstrap.js"></script>
    <script sec:authorize="hasAuthority('ROLE_DISPATCHER')" src="/profile/charts.js"></script>


    <script>
        $(document).ready(function () {
            // Javascript to enable link to tab
            var url = document.location.toString();
            if (url.match('#')) {
                $('#nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
                console.log(`shown ${url.split('#')[1]} tab`);
            }

            // Change hash for page-reload
            $('#nav-tabs a').on('shown.bs.tab', function (e) {
                window.location.hash = e.target.hash;
            })
        });
    </script>

</head>
<body class="grey">
<div th:insert="fragments/header :: header('admin')"></div>
<nav class="logist-tabs">
    <div>
        <ul class="ml-md-auto flex-row nav container nav-fill" id='nav-tabs' role="tablist">


            <li class="nav-item" id="tab-dashboard-link" sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a class="nav-link" data-toggle="tab" aria-selected="false" href="#tab-dashboard">
                    <i class="fa fa-dashboard" aria-hidden="true"></i> Dashboard</a>
            </li>
            <li class="nav-item" id="tab-profile-link">
                <a class="nav-link active" data-toggle="tab" aria-selected="false" href="#tab-info"><i
                        class="fa fa-user" aria-hidden="true"></i> Профиль</a>
            </li>
            <li class="nav-item" id="tab-point-link" sec:authorize="hasAuthority('ROLE_DISPATCHER')">
                <a class="nav-link" data-toggle="tab" aria-selected="false" href="#tab-points"><i
                        class="fa fa-compass" aria-hidden="true"></i> Пункт отправки</a>
            </li>
            <li class="nav-item" id="tab-users-link" sec:authorize='hasAnyAuthority("ROLE_ADMIN","ROLE_DISPATCHER")'>
                <a class="nav-link" data-toggle="tab" aria-selected="false" href="#tab-users"><i class="fa fa-users"
                                                                                                 aria-hidden="true"></i>
                    Пользователи</a>
            </li>

            <li class="nav-item" id="tab-users-link" sec:authorize='hasAnyAuthority("ROLE_TRANSPORT_COMPANY")'>
                <a class="nav-link" data-toggle="tab" aria-selected="false" href="#tab-company-users"><i
                        class="fa fa-users"
                        aria-hidden="true"></i>
                    Пользователи</a>
            </li>


        </ul>
    </div>
</nav>

<div class="tab-content" id="tabContent">
    <div id="tab-dashboard" class="tab-pane">
        <div class=" container-fluid spaced-container">
            <div class="row">
                <div class="col-5">
                    <div class="dashboard-panel">
                        <h5>Заявки за период</h5>
                        <div class="input-group mb-3">
                            <input class="form-control" id="ordersPeriod" value="">
                            <div class="input-group-append">
                                <input class=" btn btn-primary" id="reloadOrdersChart" value="Обновить">
                            </div>
                        </div>
                        <div class="container-fluid" style="height:300px" id="ordersPeriodChart"></div>
                    </div>

                </div>
                <div class="col-4 ">
                    <div class="dashboard-panel">
                        <h5>Заявки на перевозчика за период</h5>
                        <div class="input-group mb-3">
                            <input class="form-control" id="companiesPeriod" value="">
                            <div class="input-group-append">
                                <input class=" btn btn-primary" id="reloadCompaniesChart" value="Обновить">
                            </div>
                        </div>
                        <div class="container-fluid" style="height:300px" id="companiesChart"></div>
                    </div>
                </div>
                <div class="col-3">

                    <div class="dashboard-panel" style="height: 50%">
                        <h4>Здесь будет контент</h4>
                    </div>
                    <div class="dashboard-panel" style="height: 45%; margin-top: 20px">
                        <h4>Здесь тоже</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="tab-users" class="tab-pane">
        <div class=" container-fluid spaced-container white">
            <h4>Пользователи</h4>
            <div class="row">
                <div class="col-4">
                    <table class="table table-hover table-striped " id="usersTable">
                        <!--<thead>-->
                        <!--<tr>-->
                        <!--<th>id</th>-->
                        <!--<th>Имя</th>-->
                        <!--<th>Логин</th>-->
                        <!--<th>Пароль</th>-->
                        <!--<th>E-Mail</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-points" class="tab-pane">
        <div class="spaced-container white container-fluid">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <div>
                        <h4>Основной склад отправки</h4>
                        <br>
                        <div>
                            <input th:value="${point.id}" id="pointId" hidden>
                            <div class="form-group">
                                <label style="width:100%">Наименование
                                    <input required type="text" class="form-control" id="pointName"
                                           th:value="${point.name}">
                                </label>
                            </div>
                            <div class="form-group">
                                <label style="width:100%">Адрес
                                    <div class="input-group mb-3">
                                        <input required type="text" class="form-control" id="pointAddress"
                                               th:value="${point.address}">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary field-inline-button"
                                                    id="checkAddress">Показать на карте
                                            </button>
                                        </div>
                                    </div>

                                </label>
                                <div id="addressCheckMap" style="height:330px; display: none;"></div>
                            </div>

                            <button id="editPoint" class="btn btn-primary">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-info" class="tab-pane in active">
        <div class="spaced-container grey" id="cookieAcceptWindow" style="width: 100%;"
             th:if="${!currentUser.hasAcceptedCookies}">
            <div class="card">
                <div class="card-header">
                    Cookie use notification
                </div>
                <div class="card-body">
                    Cookies and IP addresses allow us to deliver and improve our web content and to provide you with a
                    personalized experience.
                    Our website uses cookies and collects your IP address for these purposes.
                    <br>Kurulway may use cookies and my IP address to
                    collect individual statistics and to provide me with
                    personalized offers and ads subject to the Privacy
                    Policy and the Terms of Use.
                    <br>Kurulway may use
                    third-party services for this purpose. I can revoke
                    my consent at any time by visiting the Opt-Out page.<br>
                    <br>
                    <button class="btn btn-outline-dark" id="acceptCookiesButton">Yes, I agree</button>
                </div>
            </div>
        </div>
        <div class="spaced-container container-fluid">

            <div class="row">

                <div class="col-2">
                    <div class="card">


                        <div class="card-header">Пользователь</div>
                        <br>
                        <div class="card-body">
                            <input th:value="${user.id}" id="userId" hidden>
                            <div class="form-group">
                                <label>Логин
                                    <input readonly class="form-control" th:value="${user.login}"
                                           placeholder="E-mail">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>E-mail
                                    <input type="text" class="form-control" id="userEmail" th:value="${user.email}"
                                           placeholder="E-mail">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Имя пользователя
                                    <input type="text" class="form-control" id="username" th:value="${user.username}">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Изменить пароль
                                    <input type="text" class="form-control" id="newPassword"
                                           placeholder="Новый пароль">
                                </label>
                            </div>
                            <button id="editUser" class="btn btn-block btn-primary">Сохранить</button>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card">
                        <div class="card-header">Контакт</div>
                        <br>
                        <div class="card-body">
                            <input th:value="${contact.id}" id="contactId" hidden>
                            <div class="form-group">
                                <label style="width:100%">Телефон
                                    <input required type="text" class="form-control" id="phone"
                                           th:value="${contact.phone}">
                                </label>
                            </div>
                            <div class="form-group">
                                <label style="width:100%">Имя
                                    <input required type="text" class="form-control" id="contactName"
                                           th:value="${contact.name}">
                                </label>
                            </div>
                            <div class="form-group">
                                <label style="width:100%">Должность
                                    <input required type="text" class="form-control" id="position"
                                           th:value="${contact.position}">
                                </label>
                            </div>
                            <div class="form-group">
                                <label style="width:100%">E-mail
                                    <input required type="text" class="form-control" id="contactEmail"
                                           th:value="${contact.email}">
                                </label>
                            </div>
                            <button id="editContact" class="btn btn-block btn-primary">Сохранить</button>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card">
                        <div class="card-header">Компания</div>
                        <br>
                        <div class="row card-body">
                            <div class="col-4">
                                <input th:value="${company.id}" id="companyId" hidden>
                                <div class="form-group">
                                    <label>E-mail
                                        <input type="text" class="form-control" maxlength="64" id="companyEmail"
                                               th:value="${company.email}"
                                               placeholder="E-mail">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>Полное название
                                        <input readonly type="text" class="form-control" maxlength="64" id="companyName"
                                               th:value="${company.name}">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>Краткое название
                                        <input readonly type="text" class="form-control" maxlength="64" id="shortName"
                                               th:value="${company.shortName}">
                                    </label>
                                </div>


                                <div sec:authorize="hasAuthority('ROLE_TRANSPORT_COMPANY')" class="form-group">
                                    <label>Код ATI.su
                                        <input required type="text" class="form-control" id="atiCode" maxlength="64"
                                               th:value="${company.atiCode}">
                                    </label>
                                </div>
                                <div sec:authorize="hasAuthority('ROLE_TRANSPORT_COMPANY')" class="form-group">
                                    <label>Город
                                        <input required type="text" class="form-control" id="city" maxlength="64"
                                               th:value="${company.city}">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>ИНН
                                        <input readonly type="text" class="form-control" id="inn" maxlength="64"
                                               th:value="${company.inn}">

                                    </label>
                                </div>
                                <div class="form-group">
                                    <button id="editCompany" class="btn btn-block btn-primary">Сохранить</button>
                                </div>

                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>ОКВЕД
                                        <input readonly type="text" class="form-control" id="ocved" maxlength="64"
                                               th:value="${company.ocved}">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>ОКПО
                                        <input required type="text" class="form-control" id="ocpo" maxlength="64"
                                               th:value="${company.ocpo}">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>ОГРН
                                        <input readonly type="text" class="form-control" id="ogrn" maxlength="64"
                                               th:value="${company.ogrn}">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>КПП
                                        <input required type="text" class="form-control" id="kpp" maxlength="64"
                                               th:value="${company.kpp}">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>БИК
                                        <input required type="text" class="form-control" id="bik" maxlength="64"
                                               th:value="${company.bik}">
                                    </label>
                                </div>


                            </div>
                            <div class="col-4">

                                <div class="form-group">
                                    <label>Корреспондентский счет
                                        <input required type="text" class="form-control" id="corresAccount"
                                               maxlength="64"
                                               th:value="${company.corresAccount}">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>Рассчетный счет
                                        <input required type="text" class="form-control" id="curAccount" maxlength="64"
                                               th:value="${company.curAccount}">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>Наименование банка
                                        <input required type="text" class="form-control" id="bankName" maxlength="64"
                                               th:value="${company.bankName}">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>ФИО директора
                                        <input required type="text" class="form-control" id="directorFullname"
                                               maxlength="64"
                                               th:value="${company.directorFullname}">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>ФИО глав. бухгалтера
                                        <input required type="text" class="form-control" id="chiefAccFullname"
                                               maxlength="64"
                                               th:value="${company.chiefAccFullname}">
                                    </label>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>


    <div id="tab-company-users" class="tab-pane">
        <div class="container-fluid spaced-container white">
            <h4>Пользователи</h4>
            <div>
                <table class="table table-hover table-striped" style="width: 80%" id="companyUsersTable">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Имя</th>
                        <th>Логин</th>
                        <th>Пароль</th>
                        <th>E-Mail</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>



</div>
<div th:insert="fragments/header :: footer"></div>

</body>
</html>