<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>

    <link rel="stylesheet" type="text/css" href="/media/Selectize/css/selectize.min.css"/>

    <th:block th:include="fragments/header :: styling"></th:block>

    <script src="/media/jquery-mask/dist/jquery.mask.min.js"></script>
    <!--<script src="http://api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>-->
    <script src="/media/Selectize/js/standalone/selectize.min.js"></script>

</head>
<body class="grey">
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="white spaced-container col-lg-6" style="margin-top:70px">
            <div>
                <form th:action="@{register}" th:object="${registrationData}" method="post">
                    <div class="form-group">
                        <h5>Регистрация</h5>
                    </div>
                    <div th:if="${error!=null}" class="form-group red">
                        <h5 th:text="${error}"></h5>
                    </div>
                    <div class="form-group" hidden>
                        <label for="companyName" class="cols-sm-2 control-label">Полное название компании
                            <sup class="red">*</sup></label>
                        <div class="cols-sm-10">
                            <div class="input-group mb-3">
                                <input type="text" th:classappend="${companyNameError!=null} ? 'error-red' : ''"
                                       th:field="*{companyName}" class="form-control" id="companyName"
                                       placeholder="Название"/>
                            </div>
                            <small th:if="${companyNameError!=null}" th:text="${companyNameError}"
                                   class="text-sm form-text red"></small>
                        </div>
                    </div>
                    <div class="form-group">ИНН<sup class="red">*</sup>

                                <input type="text" th:classappend="${innError!=null} ? 'error-red' : ''"
                                       th:field="*{inn}" class="form-control" id="inn"
                                       placeholder="ИНН">
                        <small th:if="${innError!=null}" th:text="${innError}"
                               class="text-sm form-text red"></small>
                    </div>
                    <div class="row">

                    <div class="form-group col-5">
                        <small th:if="${emailError!=null}" th:text="${emailError}"
                        class="text-sm form-text red"></small>
                        <label for="email" class="cols-sm-2 control-label">E-mail<sup class="red">*</sup></label>
                        <div class="cols-sm-10">
                            <div class="input-group mb-3">
                                <input type="text" th:field="*{email}" class="form-control" id="email"
                                       placeholder="E-mail"/>

                            </div>
                        </div>
                    </div>
                        <div class="col-1">
                            <small class="text-muted"><br><br>Или</small>
                        </div>
                    <div class="form-group col-6">
                        <label for="phone" class="control-label">Мобильный телефон<sup class="red">*</sup></label>
                        <div class="cols-sm-10">
                            <div class="input-group mb-3">
                                <input type="text" th:field="*{phone}" class="form-control" id="phone"/>
                            </div>
                        </div>

                    </div>
                    </div>
                    <div class="form-group" hidden>
                        <label for="ocved" class="cols-sm-2 control-label">ОКВЕД</label>
                        <div class="cols-sm-10">
                            <div class="input-group mb-3">
                                <input type="text" th:field="*{ocved}" class="form-control" id="ocved"
                                       placeholder="ОКВЕД"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" hidden>
                        <label for="directorFullname" class="cols-sm-2 control-label">ФИО директора</label>
                        <div class="cols-sm-10">
                            <div class="input-group mb-3">
                                <input type="text" th:field="*{directorFullname}" class="form-control" id="directorFullname"
                                       placeholder="ФИО Директора"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" hidden>
                        <label for="ocpo" class="cols-sm-2 control-label">ОКПО</label>
                        <div class="cols-sm-10">
                            <div class="input-group mb-3">
                                <input type="text" th:field="*{ocpo}" class="form-control" id="ocpo"
                                       placeholder="ОКПО"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" hidden>
                        <label for="ogrn" class="cols-sm-2 control-label">ОГРН</label>
                        <div class="cols-sm-10">
                            <div class="input-group mb-3">
                                <input type="text" th:field="*{ogrn}" class="form-control" id="ogrn"
                                       placeholder="ОГРН"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" hidden>
                        <label for="kpp" class="cols-sm-2 control-label">КПП</label>
                        <div class="cols-sm-10">
                            <div class="input-group mb-3">
                                <input type="text" th:field="*{kpp}" class="form-control" id="kpp"
                                       placeholder="КПП"/>
                            </div>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="login" class="cols-sm-2 control-label">Логин<sup class="red">*</sup></label>-->
                        <!--<div class="cols-sm-10">-->
                            <!--<div class="input-group mb-3">-->
                                <!--<input type="text" th:classappend="${loginError!=null} ? 'error-red' : ''"-->
                                       <!--th:field="*{login}" class="form-control" id="login" placeholder="Логин"/>-->
                            <!--</div>-->
                            <!--<small th:if="${loginError!=null}" th:text="${loginError}"-->
                                   <!--class="text-sm form-text red"></small>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="password" class="cols-sm-2 control-label">Пароль<sup class="red">*</sup></label>-->
                        <!--<div class="cols-sm-10">-->
                            <!--<div class="input-group mb-3">-->
                                <!--<input type="password" th:classappend="${passwordError!=null} ? 'error-red' : ''"-->
                                       <!--th:field="*{password}" class="form-control" id="password"/>-->
                            <!--</div>-->
                            <!--<small th:if="${passwordError!=null}" th:text="${passwordError}"-->
                                   <!--class="text-sm form-text red"></small>-->
                            <!--<small th:if="${passwordError==null}" class="text-muted form-text">Не менее 6 символов-->
                            <!--</small>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label for="pointName" class="cols-sm-2 control-label">Основной склад отправки</label>
                        <div class="cols-sm-10">
                            <div class="input-group mb-3">
                                <input type="text" th:classappend="${pointNameError!=null} ? 'error-red' : ''"
                                       th:field="*{pointName}" class="form-control" id="pointName"
                                       placeholder="Название пункта, например 'РЦ Рязань'"/>
                            </div>
                            <small th:if="${pointNameError!=null}" th:text="${pointNameError}"
                                   class="text-sm form-text red"></small>
                        </div>
                    </div>
                    <!--<div class="form-group" hidden>-->
                        <!--<label for="pointAddress" class="cols-sm-2 control-label">Адрес склада отправки</label>-->
                        <!--<div class="cols-sm-10">-->
                            <!--<div class="input-group mb-3">-->
                                <!--<input type="text" th:classappend="${pointAddressError!=null} ? 'error-red' : ''"-->
                                       <!--th:field="*{pointAddress}" class="form-control" id="pointAddress"-->
                                       <!--placeholder="Адрес"/>-->
                                <!--<div class="input-group-append">-->
                                    <!--<button type="button" class="btn btn-outline-secondary field-inline-button"-->
                                            <!--onclick="checkAddress()">Проверить адрес-->
                                    <!--</button>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<small th:if="${pointAddressError!=null}" th:text="${pointAddressError}"-->
                                   <!--class="text-sm form-text red"></small>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group" id="addressCheckMap" style="height: 400px; display: none;"></div>

                    <div class="form-group ">
                        <input type="submit" class="btn btn-primary btn-block" value="Зарегистрироваться">
                    </div>
                </form>
                <a th:href="@{login}" class="btn btn-block">Уже зарегистрированы?</a>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
</body>
<script>
    // let checkMap;

    $(document).ready(function () {


        let suggestions = {};
        let loadInnSelectize = $("#inn").selectize({
            placeholder: "Введите ИНН",
            labelField: "label",
            valueField: "value",
            searchField: "inn",
            delimiter: null,
            loadThrottle: 400,
            preload: false,
            maxItems: 1,
            maxOptions: 20,
            create: false,
            load: function (query, callback) {
                $.ajax({
                    url:`https://suggestions.dadata.ru/suggestions/api/4_1/rs/findById/party`,
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        query: query
                    }),
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("Authorization","Token 2aa6402023ed529e79ba4ddb92872b0709f9b859");
                        xhr.setRequestHeader("Accept","application/json");
                    },
                    success: function (response) {
                        var companyOptions = [];
                        // suggestions = response.suggestions;
                        response.suggestions.forEach(function (entry) {
                            companyOptions.push({"label": `${entry.data.inn}\n${entry.value}`, "inn":entry.data.inn, "value": entry.data.hid});
                            suggestions[entry.data.hid] = entry;
                        });
                        callback(companyOptions);
                        console.log(response);
                        console.log(suggestions);
                    }});
            },
            onChange: (value) => {

                if(suggestions.hasOwnProperty(value)){
                    $("#companyName").val(suggestions[value].unrestricted_value);
                    let fetchedData = suggestions[value].data;

                    if(fetchedData.inn!=null){
                        $("#inn").val(fetchedData.inn);
                    }
                    if(fetchedData.okved!=null){
                        $("#ocved").val(fetchedData.okved)
                    }
                    if(fetchedData.kpp!=null){
                        $("#kpp").val(fetchedData.kpp)
                    }
                    if(fetchedData.ogrn!=null){
                        $("#ogrn").val(fetchedData.ogrn);
                    }
                    if(fetchedData.okpo!=null){
                        $("#ocpo").val(fetchedData.okpo)
                    }
                    if(fetchedData.management!=null && fetchedData.management.name!=null){
                        $("#directorFullname").val(fetchedData.management.name);
                    }
                } else {
                    $("#inn").val(value)
                }
            }
        });
        $("#phone").mask("+7 (999) 999-9999",{placeholder:"+7 (___) ___-____"});
    });

    // function checkAddress() {
    //     if (typeof ymaps !== 'undefined') {
    //         let address = $('#pointAddress').val();
    //         console.log(address);
    //
    //         ymaps.geocode(address).then(function (coords) {
    //             console.log(coords.geoObjects.get(0));
    //             checkMap.setCenter(coords.geoObjects.get(0).geometry._coordinates, 15, {
    //                 checkZoomRange: true
    //             });
    //             checkMap.geoObjects.add(coords.geoObjects.get(0));
    //         });
    //         $('#addressCheckMap').show();
    //
    //     }
    // }






</script>

</html>