<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>R O U T E S </title>
    <link rel="stylesheet" type="text/css" href="/media/DataTables/Bootstrap-4-4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/media/Selectize/css/selectize.min.css"/>
    <link rel="stylesheet" type="text/css" href="/media/font-awesome/css/font-awesome.min.css"/>

    <link rel="stylesheet" type="text/css" th:href="@{/common/css/logist-styling.css}">

    <script src="/media/jQuery-2.1.4/jquery-2.1.4.js"></script>
    <script src="/media/DataTables/Bootstrap-4-4.0.0/js/bootstrap.js"></script>
    <!--<script src="/media/jquery-mask/dist/jquery.mask.min.js"></script>-->
    <script src="/media/Selectize/js/standalone/selectize.min.js"></script>
    <script th:src="@{routes/js/routes.js}"></script>

</head>
<div th:insert="fragments/header :: header('routes')"></div>
<body class="grey">
<div class="container-fluid" >
<div class="row" >
<div class="col-lg-12">
    <div class="container-fluid spaced-container white">
        <br>
        Здесь поиск
        <br>

    </div>
</div>
    <div class="col-7">
        <div id="routeContainer" class="container spaced-container" style="overflow: scroll; height: 600px"></div>
    </div>
    <div class="col-5">
        <div class="container-fluid spaced-container white ">
            <br>
            <br>
            <br>

            Здесь карта
        </div>
    </div>
</div>
</div>
</body>
</html>